<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        title lay
    body
        .lay

            .lay__top 

            .lay__main 

            .lay__col
                .lay__col1 col1
                .lay__col2 col2
                .lay__col3 col3