@import "./reset.css";

.lay {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.lay .lay__top {
  width: 100%;
  height: 10%;

  display: flex;
  flex-direction: row;

  background-color: aqua;
}

.lay .lay__main {
  width: 100%;
  height: 80%;

  background-color: bisque;
}

.lay .lay__col {
  width: 100%;
  height: 20%;

  display: flex;
  flex-direction: row;

  background-color: blue;
}
